<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="distribution" content="global" />
  <meta name="robots" content="follow, all" />
  <meta name="language" content="en, th" />
  <title>eLocal</title>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
  <meta name="description" content="Jinda" />
  <%-# CDN Bootstrap 3, JQ3 BS3 DT, Select from https://datatables.net/download/ -%>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-3.3.1/dt-1.10.18/sl-1.3.0/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-3.3.1/dt-1.10.18/sl-1.3.0/datatables.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>"
</head>
