- @title= "My Todo "
%p
  - @page_title  = 'My Todos'
%h2 Example Todo 
%table#example.display.dt-body-center{"data-source" => "#{todos_path(format: "json")}" }
  %thead
    %tr
      %th Completed
      %th Title
      %th Due
    %tbody  
