.container
  - @title= "My Todo "
  %p
    - @page_title  = 'My Todos'
  %h2 My Todo 
  %table#todos.table.table-striped.table-bordered.table-responsive{"data-source" => "#{todos_path(format: "json")}" }
    %thead
      %tr
        %th Completed
        %th Title
        %th Due
      %tbody  
